<h1>Contact us</h1>
<p>If you have any questions please contact us:</p>


<div id="contact-holder">
    <div class="contact-user">
        <div class="picture">
            <img src="./contactImages/imageTwo.jpg" alt="Alternate Text" width="100%"/>
        </div>
        <div class="description">
            <h4>Anna Kuzmova</h4>
            <p>email: anni.kuzmovastd@gmail.com</p>
        </div>
    </div>
    <div class="contact-user">
        <div class="picture">
            <img src="./contactImages/imageOne.jpg" alt="Alternate Text" width="100%"/>
        </div>
        <div class="description">
            <h4>Ivan Shamliev</h4>
            <p>email: stu1901681077@uni-plovdiv.bg</p>
        </div>
    </div>
</div>