@model Drinks_Self_Learn.ViewModels.DrinkViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add new product</h1>

<h4>Specify information bellow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="CreateProductForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UrlCounter" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageThumbnailUrl" class="control-label"></label>
                <input asp-for="ImageThumbnailUrl" class="form-control" />
                <span asp-validation-for="ImageThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <textarea asp-for="LongDescription" class="form-control" rows="7"></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPreferredDrink" /> @Html.DisplayNameFor(model => model.IsPreferredDrink)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InStock" /> @Html.DisplayNameFor(model => model.InStock)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <div id="TextBoxContainer">
                    <span class="text-danger field-validation-error">@ViewBag.ErrorMessageUrls</span>
                    <label class="control-label input-group">
                        Slide 1
                        <input asp-for="UrlsArr[0]" class="form-control validation-checker" />
                    </label>
                </div>
                    <a class="delete-btn btn btn-danger"><i class="fas fa-minus"></i></a>
                    <a id="AddInput" class="btn btn-success"><i class="fas fa-plus"></i></a>
            </div>
            <div class="form-group">
                <button id="sub" class="btn btn-success">Create Product</button>
            </div>
        </form>
    </div>
</div>

<div>
    <br /><a asp-action="Index" class="btn btn-warning"><i class="fas fa-chevron-left"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>*@
    <script src="~/lib/js/SlidesValidation.js"></script>
}
