@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<h1>:(</h1>
<h3 class="text-danger">An error has occured</h3>
<h4 class="text-danger">The Administrators will be notified</h4>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<br />
<div class="text-left">
    <div class="btn-group">
        <a class="btn btn-warning" asp-controller="Home" asp-action="Index"><i class="fas fa-chevron-left"></i> Go back to Home</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buy more drinks
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Drink" asp-action="List"
                   asp-route-category="Alcoholic">Alcoholic</a>

                <a class="dropdown-item" asp-controller="Drink" asp-action="List"
                   asp-route-category="Non-Alcoholic">Non-Alcoholic</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Drink" asp-action="List" asp-route-category="">View all drinks</a>
            </div>
        </div>
    </div>
</div>
<br />

<div class="tenor-gif-embed" data-postid="4837044" data-share-method="host" data-width="100%" data-aspect-ratio="1.3157894736842106"><a href="https://tenor.com/view/doh-homer-simpsons-silly-gif-4837044">Doh Homer GIF</a> from <a href="https://tenor.com/search/doh-gifs">Doh GIFs</a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>