<h2 class="text-warning">Something sketchy is going on here...</h2>
<h3 class="text-danger">Your account is locked, because you failed to authenticate too many times.<br />Please, try again later...</h3>