@model Drinks_Self_Learn.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Can NOT Delete Yourself, Sorry !!!</h1>
<h4 class="text-success">Your UserId Is: @ViewBag.DeleteIDCheck</h4>
<h4 class="text-warning">The Requested Delete Id Is: @ViewBag.DeleteIDCheck</h4>