<div class="drink-introduction">
    <h2>Enjoy our wide variety of drinks</h2>
</div>

<h2> <i class="fas fa-glass-cheers"></i> @Model.CurrentCategory</h2>

<div id="drink-container">

    @{ foreach (Drink drink in Model.Drinks)
                    {
        @await Html.PartialAsync("DrinksSummary", drink) } }

</div>