@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2 id="home-text">Preferred drinks of the week</h2>

<div class="home-flex">
    @foreach (var drink in Model.PreferredDrinks)
    {
        @Html.Partial("DrinksSummary",drink)
    }
</div>