<h1>Privacy Policy</h1>

<p>Dont worry we will <strong class="text-danger">NOT</strong> sell your data on the dark web. </p>

<br />
<br />
<div class="tenor-gif-embed" data-postid="4533805" data-share-method="host" data-width="100%" data-aspect-ratio="1.3277310924369747"><a href="https://tenor.com/view/thumbsup-computer-kid-gif-4533805">Thumbs Up Computer GIF</a> from <a href="https://tenor.com/search/thumbsup-gifs">Thumbsup GIFs</a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>