@model ShoppingCartViewModel

@*Showing the small shopping cart indicator in the nav bar with the items count*@

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a asp-controller="ShoppingCart" asp-action="">
            <i class="fas fa-shopping-cart"></i>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}